<!-- modal button -->
    <button type="button" class="far fa-envelope" data-toggle="modal" data-target="#mailModal">
      <span id="text"></span>
    </button>
<!-- modal  -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="invitation-modal">
        <%= render 'invitation_mail', contest: contest %>
      </div>
    </div>
  </div>
</div>
