<h1>Contests#show</h1>
<p>Find me in app/views/contests/show.html.erb</p>
<%= @contest.title %>
<p>code : <%= @contest.code %> </p>
<p>createur : <%= @contest.creator.nickname %> </p>

<%#= link_to "Gambler view", participation_path(@contest.my_participation) %>
