<p>Hi guy, </p>

<a href="http://www.kickmybets.fun/">welcome in kickmybets</a>
<p> you have been invited by <strong> <%= @contest.creator.nickname %></strong> to participate at the contest <strong> <%= @contest.title %></strong> , the code to join them is : <strong> <%= @contest.code %></strong></p>

<h3>happy betting !</h3>
