<p>Hi guy</p>

<p>welcome in kickmybets</p>
<p> you have been invited by <strong> <%= @contest.creator.nickname %></strong> to participate at the contest <strong> <%= @contest.title %></strong> , the code to join it is : <strong> <%= @contest.code %></strong></p>

