
<div class="invitation-mail", style="text-decoration: none; font-family: 'Roboto', 'sans-serif'; padding: 10px 25px" >
  Hi guy and welcome to <a href="http://www.kickmybets.fun/" style="text-decoration: none; color: #FC5130;">kickmybets</a>!
  <p> You have been invited by <strong> <%= @contest.creator.nickname %></strong> to participate at the contest <strong> <%= @contest.title %></strong> , the code to join them is: <strong style="color: #FC5130;"> <%= @contest.code %></strong>
  <br> <br>Happy betting!
  </p>
</div>
