<% @participation.contest.games.reject{ |game| game.status == 'pending' }.each_with_index do |game, index| %>

  <% disabled = game.betable?(current_user) ? '' : 'disabled' %>
  <% bet1 = Bet.new(resource: game, choice: 1) %>
  <% bet2 = Bet.new(resource: game, choice: 2) %>

  <h3><%= game.name %></h3>

  <%= render 'shared/bet_button', participation: @participation, bet: bet1, disabled: disabled, index: index %>
  <%= render 'shared/bet_button', participation: @participation, bet: bet2, disabled: disabled, index: index %>

<% end %>
