 <div class="tournament">

<% @participation.contest.games.order(:id).each do |game| %>

<div class="col-md-6 mb-2">
  <div class="card second pool-card gamedPassed">
    <div class="card-header">
      <h2><%= game.name %></h2>
    </div>
    <div class="card-body">
      <div class="row mt-2">
        <div class="col-sm-12 text-center  name-elt col-md-6">
          <%= game.player_one.name unless game.player_one.nil? %>
      <div class="name-office">
        <small>One of the best</small>
      </div>
    </div>
    <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        7
      </div>
      <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        11
      </div>
      <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        7
      </div>
    </div>
    <hr class="mb-2 mt-2 vs-elt">
    <div class="row mt-2 mb-2">
      <div class="col-sm-12 text-center name-elt font-weight-bold text-green col-md-6">
          <%= game.player_two.name unless game.player_two.nil? %>
      <div class="name-office">
        <small>One of the best</small>
      </div>
    </div>
    <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        11
      </div>
      <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        9
      </div>
      <div class="text-center col-sm-4 col-md-2 pl-1 pr-1">
        11
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center text-grey">Joué mardi 20 novembre, 16:00
    </div>
  </div>
</div>
</div>
<%end %>







