<div class="odds-sum-info">
  Bets:<br>
    <%= Bet.where(choice: 1).where(resource_id: resource.id).sum(:amount) %> <i class="fas fa-coins"></i> <%= Bet.where(choice: 2).where(resource_id: resource.id).sum(:amount) %>
</div>
