<div class="checkbox-bet">
  <input type="checkbox" id="bettable-btn" name="Bettable games" unchecked>
  <label for="scales"> Betable games </label>
</div>

<div class="tournament">

  <h2>Events</h2>

   <div class="show-button-modal">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEventModal">
        Submit a new bet
      </button>
   </div>

  <div class="brackets">

    <% @events.order(:id).each_with_index do |event, index| %>

      <% betable_class = event.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> event-group-card">
        <%= render 'shared/game_display_card', resource: event, participation: participation, index: index %>
      </div>

    <% end %>

  </div>

  <h2>Games</h2>

  <div class="brackets">

    <% participation.contest.games.order(:id).each do |game| %>

      <% betable_class = game.betable?(current_user) ? 'bettable-games' : 'unbettable-games' %>

      <div class="<%= betable_class %> game-group-card">
        <%= render 'shared/game_display_card', resource: game, participation: participation %>
      </div>

    <% end %>
  </div>

</div>




