  <div class="checkbox-bet">
    <input type="checkbox" id="bettable-btn" name="Bettable games" unchecked>
    <label for="scales"> Bettable games </label>
  </div>


<div class="tournament">
  <div class="brackets">
    <% @participation.contest.games.order(:id).each do |game| %>

      <% if game.game_betable? %>

      <div class="bettable-games">
        <%= render 'shared/tournament_display_all', game: game, class: "bettable-games" %>
      </div>

      <% else %>

      <div class="unbettable-games">
          <%= render 'shared/tournament_display_all', game: game, class: "unbettable-games" %>
      </div>
      <% end %>
    <%end %>
  </div>

</div>




