<h2>welcome to the dashboard</h2>

<% @user.participations.each do |participation|%>
  <p><%= link_to participation.contest.title, contest_path(participation) %></p>
<% end %>

<!-- modal button -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Join contest
    </button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= render 'invitation' %>
      </div>
    </div>
  </div>
</div>

