<h2>welcome to the dashboard</h2>

<%= link_to "New contest", new_contest_path %>

<hr>

<% @user.participations.map { |e| e.contest }.each do |contest|%>
  <p> <% contest.participations.where(user: @user).each do |participation| %> </p>
  <p><%= link_to contest.title, participation_path(participation) %></p>
  <% end %>
<% end %>
<br>
<br>
<% @user.contests.each do |contest| %>
  <% contest.participations.where(user: @user).each do |participation| %>
  <p><%= link_to contest.title, participation_path(participation) %></p>
  <% end %>
<% end %>

<%= render 'modal_invitation' %>




