<h2>welcome to the dashboard</h2>

<% @user.participations.each do |participation|%>
  <p><%= link_to participation.contest.title, participation_path(participation) %></p>
<% end %>

<%= render 'modal_invitation' %>
