<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "New contest", new_contest_path %>
<br>
<%= link_to "Join contest", dashboard_path %> <%# todo: should open directly the modal to enter the contest code %>
