<div class="content">
  <div class="title-menu">
    <h1>
      Kick my bets
    </h1>
    <h2>
      Bet me if you can
    </h2>
  </div>

  <div class="list-link">
      <div class="plus-btn-pos">
        <div class="plus-btn">
          <div class="r1"></div>
          <div class="r2"></div>
        </div>
      </div>
  </div>

</div>



      <div class="menu-container">
        <div class="menu-sliders"></div>
        <div class="menu-sliders"></div>
        <div class="menu-sliders"></div>
        <div class="menu">
          <ul>
            <li>
              <%= link_to "New contest", new_contest_path, class: "link" %>
            </li>
            <li>
               <%= link_to "Join contest", dashboard_path, class: "link"  %>
            </li>
          </ul>
        </div>
      </div>

