<!-- Titles -->
<div class="content">
  <div class="title-menu">
    <h1>
      Kick my bets
    </h1>
    <h2>
      Bet me if you can
    </h2>
  </div>

  <div class="list-link">
      <div class="plus-btn-pos">
        <div class="plus-btn">
          <div class="r1"></div>
          <div class="r2"></div>
        </div>
      </div>
  </div>
</div>

<!-- Button to display the menus -->
<div class="menu-container">
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu-sliders"></div>
  <div class="menu">
    <ul>
      <li>
        <%= link_to "New contest", new_contest_path, class: "link" %>
      </li>
      <li>
         <%= link_to "Join contest", dashboard_path, class: "link"  %>
      </li>
    </ul>
  </div>
</div>

  <div class="pycto row">
    <div class="pycto-claim col-xs-4 offset-xs-4">
      <i class="fas fa-trophy trophy"></i>
      Create your tournament
    </div>
    <div class="pycto-claim col-xs-4 offset-xs-4">
      <i class="fas fa-laugh-wink friend"></i>
      Invite your friends
    </div>
    <div class="pycto-claim col-xs-4 offset-xs-4">
      <i class="fab fa-bitcoin bitcoin"></i>
      Bet on your match
    </div>
  </div>
