$orangekick: #FC5130;
$blue: #0D2C54;

.whole-info-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0;
  height: 100%;

}
.bet-button-display {
  border: none;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: wave-btn 4s ease infinite;
  box-shadow: 1px 1px 12px -2px rgba(7,5,15,1);
  &:hover {
    transform: scale(1.02);
  }
}
@keyframes wave-btn{
     from {background-color: #FC7055;}
     50%  {background-color: #FC5130;}
     to   {background-color: #FC7055;}
}


.bet-button-display:hover {

}

.odds-sum-info {
  top: 0px;
  font-size: 14px;
  position: relative;
}

.odds-on-player {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
}

.you-bet-info {
  strong {
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    font-weight: normal;
  }
  font-size: 15px;
  color: #0D2C54;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.close-bet-btn {
  color: white;
  background-color: #FC5130BB;
  opacity: 1;
  border: solid 2px #F1F1F3;
  border-radius: 25px;
  padding: 13px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $orangekick;
  }
}

.btn-validate-bet {
  color: white;
  background-color: #0D2C54BB;
  opacity: 1;
  border: solid 2px #F1F1F3;
  border-radius: 25px;
  padding: 13px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $blue;
  }
}

.create-event-btn {
  background-color: white;
  border: solid 1px $orangekick;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  &:hover{
    border: solid 2px $orangekick;
    font-weight: bold;
    background-color: rgba(252, 81, 47, 0.2);
  }
}

