.container {

  .card_contest {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin-bottom: 10px;
  }
}
.contest-image {
  width:  100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 4%;
}

.contest-info {
  position: absolute;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
}

