.container h3{ 
  color: #FC5130;
  font-weight: bold;
}
.card-container {
  color: white;
  position: relative;
  font-family: roboto;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px -1px rgba(7,5,15,0.3);

  &:hover {
    transform: scale(1.02);
    transition: all 0.25s linear;
    cursor: pointer;
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 6;
    &:hover {
      text-decoration: none;
    }
  }
  .contest-image {
    background-size: cover;
    background-position: center;
  }
  .card-contest {
    height: 200px;
    color: #22333B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    #title {
      text-align: center;
      font-size: 26px;
      color: white;
    }
  }
  .details {
    position: absolute;
    padding: 6px 12px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
  }
}

.plus-btn-pos {
  width: 100%;
  height: 100%;
}

.plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  .plus-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0d2c54;
    border-radius: 50px;
    font-size: 40px;
    padding: 8px;
    width: 70px;
    height: 70px;
    color: #0d2c54;
  }
}
