$orangekick: #FC5130;
$blue: #0D2C54;

.the-checkbox-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.checkbox-bet {
  display: flex;
  align-items: center;
  label {
    font-weight: 300;
    margin-left: 10px;
  }
}



input[type="checkbox"]{
  margin-right: 5px;
  margin-bottom: 7px;
  appearance:none;
  width:40px;
  height:16px;
  border:1px solid #aaa;
  border-radius:2px;
  background:#ebebeb;
  position:relative;
  display:inline-block;
  overflow:hidden;
  vertical-align:middle;
  transition: background 0.3s;
  box-sizing:border-box;
}
input[type="checkbox"]:after{
  content:'';
  position:absolute;
  top:-1px;
  left:-1px;
  width:14px;
  height:14px;
  background:white;
  border:1px solid #aaa;
  border-radius:2px;
  transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
input[type="checkbox"]:checked{
  background:#a6c7ff;
  border-color:#8daee5;
}
input[type="checkbox"]:checked:after{
  left:23px;
  border-color:#8daee5;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled):after,
input[type="checkbox"]:focus:not(:checked):not(:disabled):after{
  left:0px;
}

input[type="checkbox"]:hover:checked:not(:disabled):after,
input[type="checkbox"]:focus:checked:not(:disabled):after{
  left:22px;
}

input[type="checkbox"]:disabled{
  opacity:0.5;
}

.ranking-path {
  display: flex;
  justify-content: space-around;
  width: 130px;
  font-size: 23px;
  a {
    color: $blue;
    opacity: 0.9;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
    opacity: 1;
  }
}

.total-podium {
  &:hover:after {
  transition: all 0.5s ease;
  opacity: 1;
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid $orangekick;
  }
}

.total-podium:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 5px;
  border-bottom: 1px solid $orangekick;
}
