.modal-dialog-custom {
  width: 400px;
  border-radius: 4px;
}

.code-submit {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 2px;
  margin-left: 15px;
}

.modal-noline {
  border-bottom: none;
}

.modal-content-radius {
  border-radius: 7px;
}
