$orangekick: #FC5130;
$yellowlight: #FEF3D1;
$yellow: #FDDF82;
$orange: #FC5130;
$blue: #0D2C54;

:root {
  --offset-initial: -10000px;
  --offset-final: -10000px;
  --linear-ratio: 0;
}

.Event-card {
  background: linear-gradient(70deg, $yellow var(--linear-ratio), transparent var(--linear-ratio)), $yellowlight;
  background-repeat-x: no-repeat;
  animation: glissement 2s ease forwards;
}

.event-card-title {
  color: #0D2C54;
  font-weight: bold;
  text-align: center;
}

@keyframes glissement {
  from {
    background-position-x: var(--offset-initial);
  }
  to {
    background-position-x: var(--offset-final);
  }
}

.Event-card-height {
  //height: 150px;
}

.modal-btn-update {

}

.modal-btn-winner {

}

.btn-event-settings {
  border: none;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 5px;
}
.btn-event-settings:focus {
    outline: none;
}

.event-choice-card {
  border: 1px white solid;
  background-color: #FFFA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  /* letter-spacing: 0px; */
  font-family: 'Roboto';
}

.btn-create-event {
  background-color: white;
  border: solid 1px $orangekick;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  &:hover{
    border: solid 2px $orangekick;
    font-weight: bold;
  }
}

.btn-send-email {
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  &:hover{
    border: solid 2px white;
    font-weight: bold;
  }
}

.send-email-mobile {
  button {
    border: none;
  }
}
