$blue: #0D2C54;
$white: #FFF;
$orange: #FC5130;
$buttonWidth: 185px;
$buttonHeight: 60px;
$font: 'Slabo 27px', serif;

// helper cleasses:

.centered {
   position: relative;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.full {
   width: 100%;
   height: 100%;
}

// button style:

.button-go {
  font-family: $font;
  letter-spacing: 1px;
   @extend .centered;
   width: $buttonWidth + 20px;
   height: $buttonHeight + 20px;
    margin-top: 40px;
   perspective: 1800px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;


   .qube {
      position: relative;
      height: $buttonHeight;
      width: $buttonWidth;
      perspective: 1800px;


      .front, .back {
         @extend .full;
         backface-visibility: hidden;
         transform-style: preserve-3d;
         transform: rotateX(-90deg);
         transition: transform 0.3s ease;
         position: absolute;
         color: $white;
         line-height: $buttonHeight;
         text-align: center;
      }

      .front {
         background-color: $blue;

         &::before {
            @extend .centered;
            @extend .full;
            display: block;
            z-index: -1;
         }

         &::after {
            background: $white;
            content: '';
            height: 155px;
            left: -75px;
            opacity: .4;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            width: $buttonHeight - 10px;
            z-index: 1;
         }
      }

      .back {
         background-color: $orange;
         color: $white;
         transform: rotateX(0deg) translateZ($buttonHeight);
      }

      &:hover {

         .front {
            transform: rotateX(0deg) translateZ( $buttonHeight / 2 );
         }

         .back {
            transform: rotateX(90deg) translateZ( $buttonHeight / 2 );
         }
      }
   }

   &:active {

      .front {
         border-radius: 0;
         background-color: transparent;
         color: $blue;

         &::before {
            background-color: $orange;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
         }

         &::after {
            left: 120%;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
         }
      }
   }
}

.go-btn-homepage {
  display: flex;
  position: relative;
}
