.ranking-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.ranking-table {
  border-radius: 10px 0px;
}

.ranking-td {
  padding: 5px;
  background: #A1C6EA;
}

.even-row > td {
  background: #A1C6EAAA;
}

.ranking-th {
  padding: 5px;
  background: #373a3d;
  color: white;
  font-weight: bold;
}

.ranking-th:first-child {
  border-radius:10px 0 0 0;
}
.ranking-th:last-child {
  border-radius:0 10px 0 0;
}

