.brackets {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-tournament {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 5px -1px rgba(7,5,15,0.3);
  border-radius: 20px;
  padding: 20px;
}

.card-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 180px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
}

.player-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 15px;
  font-weight: 200;
}

.player-picture {
  width: 55px;
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
}

.score-title {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Slabo 27px', serif;
}

.bet-info {
  width: 100%;
  color: #005EB7
}

.card-header {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.Quarter-Finals {
  background-color: #005EB7;
  color: white;
}

.Semi-Finals {
  background-color: #1C7C54;
  color: white;
}

.Final {
  background-color: #F9D834;
  color: black;
  font-weight: bold;
}


.pool-card {
  border: solid 1px black;
}

.unbettable-games {
  &:last-child {
    grid-column: span 2;
    padding: 10px;
  }
}



.bettable-games {
}

.hidden-bet {
  display: none;
}

.versus-icon {
  width: 70px;
  height: 70px;
}

.card-tournament {

}

@media screen and (max-width: 640px) {
  .brackets {
    grid-template-columns: 1fr;
  }
  .unbettable-games {
  &:last-child {
    grid-column: span 1;
    padding: 10px;
  }
}
}
