$white: #EFEFEF;
$grey: #D1D1D1;
$orange: #FC5130;
:root {
  --offset-initial: -10000px;
  --offset-final: -10000px;
  --linear-ratio: 0;
}

.fas.fa-crown {
  color: $orange;
  position: absolute;
  top: -31px;
  left: 30px;
  font-size: 32px;
}

.brackets {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-tournament {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 5px -1px rgba(7,5,15,0.3);
  border-radius: 20px;
  padding: 13px;
  padding-bottom: 8px;
  background: linear-gradient(70deg, $grey var(--linear-ratio), transparent var(--linear-ratio)), $white;
  background-repeat-x: no-repeat;
  animation: glissement 2s ease forwards;
}

@keyframes glissement {
  from {
    background-position-x: var(--offset-initial);
  }
  to {
    background-position-x: var(--offset-final);
  }
}

.card-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 180px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  width: 100px;
}

.player-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
}

.avatar-player {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.score-title {
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Slabo 27px', serif;
}

.bet-info {
  width: 100%;
  color: #005EB7
}

.card-header {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.Quarter-Finals {
  background-color: #005EB7;
  color: white;
}

.Semi-Finals {
  background-color: #1C7C54;
  color: white;
}

.Final {
  background-color: #F9D834;
  color: black;
  font-weight: bold;
}


.pool-card {
  border: solid 1px black;
}

.game-group-card {
  &:last-child {
    grid-column: span 2;
    padding: 10px;
  }
}



.bettable-games {
}

.hidden-bet {
  display: none;
}

.versus-icon {
  width: 70px;
  height: 70px;
}

.card-tournament {

}

@media screen and (max-width: 640px) {
  .brackets {
    grid-template-columns: 1fr;
  }
  .game-group-card {
  &:last-child {
    grid-column: span 1;
    padding: 10px;
  }
}
}

.text-score-one {
  color: $orange;
}
.text-score-two {
  color: $orange;
}

.text-player {
  color: black;
}
